*{
    box-sizing: border-box;
}
body{
    background-color: white;
}

html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em; }
h2{ font-size: 2.7em; }
h3{ font-size: 2em; }
p{ font-size: 1.30em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: aqua;
}

button:hover{
    background-color: bisque;
}

.contenededor{
    max-width: 1400px;
    margin: auto;
}

.un-color{ color: rgb(5, 48, 165); }

header{
    background-color: rgb(235, 235, 235);
}

header .logo{
    margin: 0;
    padding: 25px;
    font-weight: bold;
    color: rgb(13, 2, 34);
    font-size: 3em;
}

header .contenededor{
    display: flex;
    flex-direction: column;
    align-items: center;

}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(9, 92, 20);
}
header a:hover{
    color: rgb(8, 76, 153);
}

#tubo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/compite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#juega-ahora .contenededor{
    text-align: center;
    padding: 200px 12px;

}

#compite{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#compite .contenededor{
    padding: 150px 12px;
}

#compite h2{
    margin-top: 10px;
}

#compite p{
    display: none;
}

#compite .carta{
    background-position: center center;
    background-size: cover;
    padding: 150px;
    margin: 20px;
    border-radius: 100px;
     
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/aventura.jpg");
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/terror.jpg");

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/puzzle.jpg");

}

#caracteristicas .contenededor{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#juega-ya{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 100vh;
}

#juega-ya{
    font-size: 3vw;
}

#juega-ya button{
    font-size: 5vw;
}

footer{
    background-color: rgb(215, 250, 234);
}

footer p{
    margin: 0;
    color: rgb(3, 88, 184);
}

footer .contenedor{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 800px){
    header{
        position: fixed;
        width: 100%;
        margin-top: -10px;
    }

    header .contenededor{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #tubo h1{
        font-size: 7em;
    }

    #juega-ahora .contenededor{
        display: flex;
        justify-content: center;
    }

    #juega-ahora .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    #juega-ahora h2{
        margin-top: 0px;
    }

    #juega-ahora .img-contenededor{ 
        background-image: url("img/jugando.jpg");
        background-size: cover;
        background-position: center center;
        height: 600px;
        width: 800px;
    }

    #compite .cartas{
        display: flex;
        justify-content: center;
    }

    #compite p{
        display: block;
        margin-bottom: 30px;
    }

    #compite h2{
        font-size: 5em;
    }

    #compite h3{
        margin-top: 0;
        font-size: 3em;
    }

    #compite .carta{
        padding: 50px;
        background-size: 100% 605px;
        background-repeat: no-repeat;
        background-position: 0;
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/aventura.jpg");
    }
    
    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/terror.jpg");
    
    }
    
    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("img/puzzle.jpg");
    
    }

    #caracteristicas{
        background-image: url("img/comunicandose.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .contenededor{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #juega-ya h2{
        font-size: 3em;
    }

    #juega-ya button{
        font-size: 2em;
    }

    footer .contenedor{
        justify-content: flex-end;
    }

}

@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}
